name: Deploy HTML to S3
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code from repo
        uses: actions/checkout@v4
      - name: Configure Aws Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: us-east-2
      - name: code static code to s3
        run: |
          aws s3 syn ./ s3://dimple-ex2/\
          --exclude "*" \
          --include "index.html"
